<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.s3000.demodictionary" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
       >
        <activity
            android:name=".Search"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WordView"
            android:label="@string/title_activity_word_view"
            android:parentActivityName="ir.s3000.demodictionary.Search"
            android:theme="@style/Theme.MyTheme2">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ir.s3000.demodictionary.Search"
            >
                </meta-data>
        </activity>
    </application>

</manifest>
